.title {
  color: darkblue;
}

ul li {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  gap:  10px;
}

button {
  background-color: transparent;
  border: 1px solid darkblue;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 11px rgba(120, 135, 160, 0.25);
}
